<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1">

        <title>Games | {{ title }}</title>

        <!-- This should be swapped, maybe. A base page css split into post and portfolio-item would be best. -->
        <link rel="stylesheet" type="text/css" href="/styles/post.css"/>
        <link rel="stylesheet" type="text/css" href="/styles/game.css"/> <!-- TODO -->
    </head>
    <body>
        {% include components/header %}

        <div id="title-wrapper">
            <div id="title-image" style="background-image:url('{{ image }}')"></div>
            <div id="title-header">
                <h1 id="title-header-text">{{ title }}</h1>
            </div>
        </div>
        <div id='content' class='responsive-gutters responsive-line-height'>
            <div id="description">
                {{ content }}
            </div>
            <div id='screenshots' class=''>
                {% for screenshot in screenshots %}
                    <img alt="{{ screenshot.alt }}" src="{{ screenshot.src }}"/>
                {% endfor %}
            </div>
            <div id='links'>
                {% for link_obj in links %}
                    {% assign key = link_obj.icon | downcase %}
                    <div class="social-link-container">
                        <a class="no-decoration" href="{{ link_obj.href }}" target="blank">
                            <img src="{{ game_links[key].src }}" alt="{{ game_links[key].alt }}" />
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </body>
    <script src="https://kit.fontawesome.com/61329f8a74.js" crossorigin="anonymous"></script>
</html>