<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1">

        <title>Blog | {{ title }}</title>
        <link rel="stylesheet" type="text/css" href="/styles/post.css"/>
        <link rel="stylesheet" type="text/css" href="/styles/prism/themes/okaidia.css"/>
    </head>
    <body>
        {% include components/header %}

        <div id="title-wrapper">
            <div id="title-image" style="background-image:url('{{ image }}')"></div>
            <div id="title-header">
                <h1 id="title-header-text">{{ title }}</h1>
                <p id="title-header-date-posted">
                    <i class="fas fa-upload"></i>
                    {{ page.date | toUTCString }}
                </p>
                {% if date_modified %}
                    <p id="title-header-date-updated">
                        <i class="fas fa-pencil-alt"></i>
                        {{ date_modified | toUTCString }}
                    </p>
                {% endif %}
            </div>
        </div>
        <div id='content' class='responsive-gutters'>
            {{ content }}
        </div>
    </body>

    <script type="text/javascript" src="/js/progress_bar.js"></script>
    <script src="https://kit.fontawesome.com/61329f8a74.js" crossorigin="anonymous"></script>
</html>