<div class='image-slider'>
    {%- for image in images -%}
        <div class="image-slider-container">
            <a href="{{ image.src }}" class='glightbox'>
                {%- if image.thumbnail -%}
                    <img alt="{{ image.alt }}" src="{{ image.thumbnail }}"/>
                {%- else -%}
                    <img alt="{{ image.alt }}" src="{{ image.src }}"/>
                {%- endif -%}
            </a>
        </div>
    {%- endfor -%}
</div>