<div class="nav-section">
    <h1>{{ title }}</h1>
    <p>{{ description }}</p>
    <nav>
        {%- for el in content %}
            {% render 'snippets/nav-entry', item: el %}
        {%- endfor %}
    </nav>
    {% if more %}
        <span class="nav-section-more">
            {% if contentLength %}
                <a href={{ more }}>View All {{ contentLength }}</a>
            {% else %}
                <a href={{ more }}>View All</a>
            {% endif %}
        </span>
    {% endif %}
</div>